
/*******w******** 
    
    Name: Maryam Ayemlo Gambo
    Date: March 26, 2023
    Description: This page contains all styles

********************/

body nav.navbar .navbar-nav .nav-item .nav-link:hover{
    background-color: dodgerblue !important;
}










